//geral
$corDfundo:black;

// Principal
$corTXTprincipal:white;
$maior-largura:1440px;
$maioraltura:600px;
$menor-largura:640px;
$menoraltura:240px;
$imgPrincipal:url(../../imagens/FundoOriental.jpg);
	//txt alturas
$top1G:-40%;
$top2G:-58%;
$top3G:-50%;
$top1p:-35%;
$top2p:-40%;
$top3p:-43%;
//

